<% @astronaut_data[:astronauts].each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <h2><%= astronaut.name %></h2>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
  </section>
<% end %>

  <h4>Average Age of Astronauts: <%= @astronaut_data[:average_age].round(2)%></h4>
